<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Enejo James</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="/img/logodb.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/master.css">
        <link rel="stylesheet" href="/css/why.css">
        <link rel="stylesheet" href="/css/about.css">
    </head>
    <body>
        <div class="main">
            <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-mywhite" id="scrollingNav">
                <a class="navbar-brand" href="/">
                    <div class="logo mx-auto">
                        <img class="img-fluid" src="/img/logodb.png" alt="logo">
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#scrollingNavAltMarkup" aria-controls="scrollingNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="scrollingNavAltMarkup">
                    <div class="navbar-nav ml-auto pr-4">
                        <a class="nav-item nav-link mr-2" href="/thedream">The Dream</a>
                        <a class="nav-item nav-link mr-2" href="/why">Why</a>
                        <a class="nav-item nav-link" href="/about">About</a>
                    </div>
                </div>
            </nav>
            <div class="section">
                <div class="tint-blueblack">
                    <nav class="navbar navbar-expand-sm navbar-light" id="staticNav">
                        <a class="navbar-brand" href="/">
                            <div class="logo mx-auto">
                                <img class="img-fluid" src="/img/logow.png" alt="logo">
                            </div>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#staticNavAltMarkup" aria-controls="staticNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="fa fa-bars"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="staticNavAltMarkup">
                            <div class="navbar-nav ml-auto pr-4">
                                <a class="nav-item nav-link mr-2" href="/thedream">The Dream</a>
                                <a class="nav-item nav-link mr-2" href="/why">Why</a>
                                <a class="nav-item nav-link" href="/about">About</a>
                            </div>
                        </div>
                    </nav>
                    <div class="welcome px-2">
                        <h2>"We all die. The goal isn't to live forever, the goal is to create something that will." ― Chuck Palahniuk </h2>
                    </div>
                </div>
            </div>
            <div class="bg-grey">
                <div class="content">
                    <div class="wrapper">
                        <h1 class="text-center">I am on a journey...</h1>
                        <p>My name is Enejo James Oche - an individual wholly dedicated to the cause of helping people learn better. I am from Okpokwu Local Government Area, Benue state. I currently work as a client service officer with a recruitment firm in Lagos. I am also software developer still building competencies to take on the project of creating intelligent programs to help create new learning experience whilst solving the problem of education in Nigeria.
                        <p>I recently gained admission into CODE University in Berlin, Germany but unable to progress to obtain a student visa. The Germany visa office requires that a student either have funds (8,640) in a german block account or have a sponsorship declaration inorder to be granted VISA. I have neither of these. This is <a href="/why">why</a> I created this website, to reach out to individuals who could assist me obtain a German sponsorship declaration especially.</p>
                        <h2 class="text-center mt-5"><a href="/thedream">Please help me in the struggle to savage the education for our generation and future generations to come.</a></h2>
                    </div>
                </div>
            </div>
            <div>
                <div class="content">
                    <div class="wrapper text-center">
                        <h1>I am willing to provide any proof that you need to ascertain the truth of all I have said.</h1>
                        <p>Here is my phone number: 08064341284</p>
                        <div class="contact">
                            <p>My social media pages:</p>
                            <a class="social-media-btns" href="https://www.instagram.com/enKhing">
                                <span class="fa fa-instagram"></span>
                            </a>
                            <a class="social-media-btns" href="https://www.facebook.com/en.Khing">
                                <span class="fa fa-facebook"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-grey">
                <div class="content">
                    <div class="wrapper text-center">
                        <h1>Thank you for reading this far.</h1>
                        <h2>Help me in this struggle to salvage the future of our education. I am earnestly hoping for a response from you.</h2>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="plea text-center">
                <h2>Please help me achieve this goal</h2>
            </div>
            <div class="footer-nav-wrapper text-center">
                <div class="footer-nav">
                    <a class="nav-item mr-2" href="/thedream">The Dream</a>
                    <a class="nav-item mr-2" href="/why">Why</a>
                    <a class="nav-item" href="#">About</a>
                </div>
            </div>
        </footer>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/babel" src="/js/main.js"></script>
    </body>
</html>
