<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Enejo James</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="/img/logodb.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/master.css">
        <link rel="stylesheet" href="/css/thedream.css">
    </head>
    <body>
        <div class="main">
            <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-mywhite" id="scrollingNav">
                <a class="navbar-brand" href="/">
                    <div class="logo mx-auto">
                        <img class="img-fluid" src="/img/logodb.png" alt="logo">
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#scrollingNavAltMarkup" aria-controls="scrollingNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="scrollingNavAltMarkup">
                    <div class="navbar-nav ml-auto pr-4">
                        <a class="nav-item nav-link mr-2" href="/thedream">The Dream</a>
                        <a class="nav-item nav-link mr-2" href="/why">Why</a>
                        <a class="nav-item nav-link" href="/about">About</a>
                    </div>
                </div>
            </nav>
            <div class="section">
                <div class="tint-blueblack">
                    <nav class="navbar navbar-expand-sm navbar-light" id="staticNav">
                        <a class="navbar-brand" href="/">
                            <div class="logo mx-auto">
                                <img class="img-fluid" src="/img/logow.png" alt="logo">
                            </div>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#staticNavAltMarkup" aria-controls="staticNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="fa fa-bars"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="staticNavAltMarkup">
                            <div class="navbar-nav ml-auto pr-4">
                                <a class="nav-item nav-link mr-2" href="thedream">The Dream</a>
                                <a class="nav-item nav-link mr-2" href="/why">Why</a>
                                <a class="nav-item nav-link" href="/about">About</a>
                            </div>
                        </div>
                    </nav>
                    <div class="welcome px-2">
                        <h1>Education is the most powerful weapon which you can use to change the world. – Nelson Mandela</h1>
                    </div>
                </div>
            </div>
            <div>
                <div class="content">
                    <div class="wrapper">
                        <h1 class="text-center">I have a dream</h1>
                        <li>I dream of a Nigeria where people learn skills that they believe would enhance them and the world around them.</li>
                        <li>I dream of a Nigeria where students learn by doing, where schools simulate the real world for their students — helping them gain hands experience as they study and prepare to take on the real world.</li>
                        <li>I dream of a Nigeria where a graudate has a well documented Competency Profile outlining all his competencies: his areas of strengths and weakness, rather than 'First Class', 'Upper Credit' or 'Pass'.</li>
                        <li>I dream of a Nigeria where the schools teach important skills necessary for success in life. Skills such as How to learn, the concept of purpose, Finding a path that aligns with your individuality, etc.</li>
                        <li>I dream of a Nigeria where a deciding factor for admission into a learning program is your level of curiosity in the subject area and how well your individuality aligns with the field of pursuit.</li>
                        <li>I dream of a Nigeria where the educational system is built to promote collaboration as against competition (who is better).</li>
                    </div>
                </div>
            </div>
            <div class="bg-grey">
                <div class="content">
                    <div class="wrapper">
                        <h1 class="text-center">My beliefs about learning</h1>
                        <div class="cite">
                            <cite>
                                “Tell me and I forget, teach me and I may remember, involve me and I learn.” ― Benjamin Franklin
                            </cite>
                        </div>
                        <p>I believe learning happens when there is curiosity — a real hunger for knowledge. I also believe that people learn much better by involvement and actively <cite>doing</cite> what is being learnt.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="content" id="lookingToCreate">
                    <div class="wrapper">
                        <h1 class="text-center">What I am looking to create</h1>
                        <div class="cite">
                            <cite>
                                “The only person who is educated is the one who has learned how to learn and change.” ― Carl Rogers
                            </cite>
                        </div>
                        <h3 class="text-left">Self-Learning Platform</h3>
                        <p>I am looking to create a self learning platform with sophisticated artificial intelligence capable of learning how a person learns and guide the person towards achieving certain set learning goals.</p>
                        <p>The artificial intelligence program would act a facilitator to guide the students learning so that a student can have a targeted learning experience rather than study haphazardly.</p>
                        <p>This platform would be available to the public at no direct cost to the users. This would be so because I see a Nigeria where money would no longer hinder the poor child with willingness to learn from having access to quality education.</p>

                        <h3 class="text-left">Smart Schooling: A specialised learning environment</h3>
                        <p>I am also looking to build physical schools where students learn with the harnessed power of technology. In this school, students learn all the facts on their own using the information base made available to the public through well configured devices and applications. The classroom would be majorly for discussions and projects.</p>
                        <p>The main aim is to encourage peer-to-peer learning which is considered one of the most effective learning methodologies. This would also aid collaboration amongst students a very essential skill to build in young people.</p>
                        <p>The whole Idea is to build minds that are capable of self learning. The world is continual in a state of flux; only people who have the ability to keep learning are capable of adapting.</p>
                        <h2 class="text-center mt-5">This is why I have completely dedicated myself towards becoming a world class Software Engineer so I can create sophisticated products that would deliver the solutions I have foreseen.</h2>
                    </div>
                </div>
            </div>
            <div class="bg-grey">
                <div class="content">
                    <div class="wrapper">
                        <h1 class="text-center">The Birth</h1>
                        <p>I was a science student in secondary school. I loved the natural sciences especially Mathematics, Physics and Technical drawing – anything that required abstract, spatial or structural thinking.</p>
                        <p>Moving on to the university I was offered Financial Management. I accepted because I didn’t want to suffer admission twice. This was the worst mistake of my life.</p>
                        <p>I graduated, entered the real world and realized that the most successful people are people doing what aligned to their natural inclinations. In plane terms, they were doing what they love, thus, it was natural for them to push through every challenge and make great impact. <strong>THEY HAD A STRONG SENSE OF PURPOSE AND WERE COMMITTED TO IT.</strong></p>
                        <p>If only I was taught concepts like purpose, I would have made a better decision. This is the case with millions of our youths.</p>
                        <p>We live in an environment where much emphasis is placed on the certificate. Thus, young people (following societal teachings) pick up careers based on what is lucrative, caresses the ego or promises a type of lifestyle. That SENSE OF PURPOSE to make an impact (and contribute to the development of the world) is lost. Consequently, we pick up the wrong careers and end up in jobs that do not connect to who we are – leaving us frustrated, depressed, unfulfilled and unhappy with our lives.</p>
                        <p>Growing up, I had affinity for the physical sciences (mathematics, physics and technical drawing especially. I loved to calculate and engage in anything spatial or abstract. I started of studying science in secondary school.
                        <p>I wanted to study either Architecture, Mechanical or Electrical/Electronics Engineering. When I applied to the university, to my dismay, I was offered Financial Management. I accepted because I wanted to be in school at the same time as my peers. This was the worst mistake of my life.</p>
                        <p>I graduated and went on to serve 2013. All the while I was serving I kept thinking what I could do to escape the job hunting phase. I have always wanted to do business so I started learing about business on youtube. I would spend about 50% of my allowee (N19,500) on data. I learnt from the likes of Robert Kiyosaki, Warren Buffet, Aliko Dangote and others. It was at this time that I came across other individuals Like Tony Robbins, Vishen Lakhiani and Brian Tracy. Through them I came to understand the concept of purpose.</p>
                        <p>The teachings of these people exposed my mind a great deal. They thought my things I didn't learn in school. My thinking became deeper and critical. I literally felt myself more confident and more intelligent. This was the point where actually learning of relevant skill took place in my life – outside the school environment. <strong>My curiosity lead me to answers</strong>. The answers made me a better person.</p>
                        <p>After service in 2014, I was hungry with no money at all, I had to get a job. I went for an interview I made it through and started working with a human resource firm. The feedback I received (later) was that I had a critical approach and a better perspective than the other candidates. Previously, I was not a deep thinking person. The videos I watched, the people I learnt from have helped me grow in ways I didn't notice until after my interview. At this point, I started appreciating <strong>the concept of self-learning and the effectiveness of curiosity driven learning</strong>.</p>
                        <p>I started thinking, if I had known these concepts earlier, I would have done a lot more in life much earlier. Then, I resolved to build my own school where these type of teachings were taught. This was the birth of the idea.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="content">
                    <div class="wrapper">
                        <h1 class="text-center">My implementation afterwards</h1>
                        <p>To push my idea into effect I started a not-for-profit on Facebook called The Absolute Academy where I was teaching people the idea of doing work that aligned with their individuality as it is the surest path to fulfilment.
                        <p>The origin intention was to create a system of teachers with more credibility than myself to teach the idea to the students of the academy. But I could not afford to pay for their services so I started teaching it myself.</p>
                        <p>After a while, it became daunting. I had to stop three reasons:
                            <ol>
                                <li>I hadn't the credibility to teach about doing work that aligns with one's individuality because I was still working on a job I didn't like. Even the direct act of teaching wasn't what I wanted to do, I wanted to <em>create the system</em> that aided learning.</li>
                                <li>I realised I was not making the right impact. I had to stop to restrategise</li>
                            </ol>
                        </p>
                        <p>It was at this point that I stumbled into a video about coding. I never knew what computer programming really was until I heard Bill Gates and Mark Zuckerberg talk about how interesting coding was and that anybody could learn it. Immediately, my childhood passion for science was aroused again, I knew I had found my purpose.</p>
                    </div>
                </div>
            </div>
            <div class="bg-grey">
                <div class="content">
                    <div class="wrapper">
                        <h1 class="text-center">The new beginning the journey</h1>
                        <p>Knowing that I could learn anything I set my mind to, I began exploring the field. I started learning the basics of Computer Science and coding on Khan Academy and Youtube.</p>
                        <p>In less than a year, I started building web applications. I learnt concepts in Computer Science and how to build well performing applications. Again I experienced the effectiveness of curiosity-driven approach to learning and the power of self-learning.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="content">
                    <div class="wrapper">
                        <h1 class="text-center">Going world class</h1>
                        <p>Earlier this year, I took part in a challenge by CODE University in Berlin, Germany. I emerged the only Nigerian in my set and gained admission into the university. Interestingly, I got it on a paylater option. This means I will start paying back my school fees after I have graduated and gained employment.</p>
                        <p>However, the visa office requires that I have at least €8,640 (about N4 million) in a German block account. The alternative is a sponsorship declaration by a person resident in Germany in my favour.</p>
                        <p>I do not have either of the requirement, this is why I am reaching out to individuals to help me out. I am not really looking for money, I just want a sponsorship declaration so I can get the student VISA and proceed to commence studying. I have saved enough to take care of myself and have learnt enough skills to stay employable while studying. I would never make any form of demands from whoever sponsors me. <strong>I just need the Sponsorship Seclaration</strong>.</p>
                        <h2 class="text-center">Please help me.<h2>
                    </div>
                </div>
            </div>
            <div class="bg-grey">
                <div class="content">
                    <div class="wrapper text-center">
                        <h1>Thank you for reading this far.</h1>
                        <h2>Help me in this struggle to salvage the future of our education. I am earnestly hoping for a response from you.</h2>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="plea text-center">
                <h2>Please help me achieve this goal</h2>
            </div>
            <div class="footer-nav-wrapper text-center">
                <div class="footer-nav">
                    <a class="nav-item mr-2" href="#">The Dream</a>
                    <a class="nav-item mr-2" href="#">Why</a>
                    <a class="nav-item" href="#">About</a>
                </div>
            </div>
        </footer>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/babel" src="/js/index.js"></script>
    </body>
</html>
