<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Enejo James</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="/img/logodb.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/master.css">
        <link rel="stylesheet" href="/css/why.css">
    </head>
    <body>
        <div class="main">
            <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-mywhite" id="scrollingNav">
                <a class="navbar-brand" href="/">
                    <div class="logo mx-auto">
                        <img class="img-fluid" src="/img/logodb.png" alt="logo">
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#scrollingNavAltMarkup" aria-controls="scrollingNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="scrollingNavAltMarkup">
                    <div class="navbar-nav ml-auto pr-4">
                        <a class="nav-item nav-link mr-2" href="#">The Dream</a>
                        <a class="nav-item nav-link mr-2" href="/why">Why</a>
                        <a class="nav-item nav-link" href="#">About</a>
                    </div>
                </div>
            </nav>
            <div class="section">
                <div class="tint-blueblack">
                    <nav class="navbar navbar-expand-sm navbar-light" id="staticNav">
                        <a class="navbar-brand" href="/">
                            <div class="logo mx-auto">
                                <img class="img-fluid" src="/img/logow.png" alt="logo">
                            </div>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#staticNavAltMarkup" aria-controls="staticNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="fa fa-bars"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="staticNavAltMarkup">
                            <div class="navbar-nav ml-auto pr-4">
                                <a class="nav-item nav-link mr-2" href="#">The Dream</a>
                                <a class="nav-item nav-link mr-2" href="/why">Why</a>
                                <a class="nav-item nav-link" href="#">About</a>
                            </div>
                        </div>
                    </nav>
                    <div class="welcome">
                        <h1>Why I invited you here</h1>
                        <p class="mx-auto">Thank you for honouring the invitation. I intend to make good use of the few minutes of attention you just offered me.</p>
                    </div>
                </div>
            </div>
            <div class="bg-grey">
                <div class="content">
                    <div class="wrapper text-center">
                        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="button text-center">
                        <a class="read-more" href="#">View admission letter</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="content">
                    <div class="wrapper text-center">
                        <h1>I am on a journey</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="button text-center">
                        <a class="read-more" href="#">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="plea text-center">
                <h2>Please help me achieve this goal</h2>
            </div>
            <div class="footer-nav-wrapper text-center">
                <div class="footer-nav">
                    <a class="nav-item mr-2" href="#">The Dream</a>
                    <a class="nav-item mr-2" href="#">Why</a>
                    <a class="nav-item" href="#">About</a>
                </div>
            </div>
        </footer>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/babel" src="/js/main.js"></script>
    </body>
</html>
