body {
    font-size: 25px;
    transition: all .5s ease-in-out;
}
nav a, footer a {
    font-size: 22px;
}
#scrollingNav .fa-bars {
    color: rgb(47,85,151);
    font-size: 30px;
}
#scrollingNav div a {
    color: rgb(47,85,151) !important;
}
#scrollingNav div a:hover {
    color: rgb(150,200,200) !important;
}
#staticNav .fa-bars {
    color: white;
    font-size: 30px;
}
#staticNav div a {
    color: white !important;
}
#staticNav div a:hover {
    color: rgb(150,200,200) !important;
}
.logo {
    width: 60px;
}
.section {
    background-image: url('../img/me6.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.welcome {
    padding: 12% 0;
    text-align: center;
}
.welcome h1 {
    margin: 0 0 15px 0;
    font-size: 40px;
    width: 70%;
    margin: auto;
}
.welcome p {
    width: 50%;
}
.wrapper {
    margin: auto;
    color: rgb(47,85,151);
    width: 80%;
    padding: 80px 0;
    text-align: justify;
}
.cite {
    width: 70%;
    margin: auto auto 40px auto;
}
.black-color {
    color: white;
}
.wrapper h1 {
    margin: 0 0 70px 0;
}
.wrapper h3 {
    margin: 40px 0;
}
.wrapper li {
    margin: 15px 0 0 0;
}
.button {
    padding: 0 0 70px 0;
}
.read-more {
    text-decoration: none !important;
    padding: 10px 40px;
    border: 2px solid rgb(47,85,151);
    color: rgb(47,85,151);
    cursor: pointer;
    transition: .5s ease;
}
.read-more:hover {
    background-color: rgb(47,85,151);
    color: white;
}
.contact a {
    font-size: 25px;
}
footer {
    background-color: black;
    color: rgb(190, 190, 190);
    padding: 70px 2% 0 2%;
}
.footer-nav-wrapper {
    padding: 4% 2%;
}
.footer-nav {
    display: inline-block;
}
.footer-nav a {
    font-size: 22px;
    color: rgb(190, 190, 190) !important;
}
.footer-nav a:hover {
    text-decoration: none;
    color: rgba(190, 190, 190,.5) !important;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 20px;;
    }
    #staticNav div a {
        font-size: 18px;
    }
    .welcome h1 {
        font-size: 50px;
    }
    .wrapper h1 {
        margin: 0 0 40px 0;
        font-size: 30px;
    }
    .footer-nav a {
        font-size: 18px;
    }
    .welcome p {
        width: 80%;
    }
}
@media screen and (max-width: 768px) {
    .welcome h1 {
        font-size: 40px;
    }
    .welcome p {
        font-size: 18px;
    }
    .wrapper h1 {
        margin: 0 0 30px 0;
        font-size: 25px;
    }
    footer h2 {
        font-size: 25px;
    }
}
